<header id="top-header">
    <span class="siteName">
        <a href="/" title="Return to Home Page">CSE Motors</a>
    </span>
    <div id="tools">
        <a href="/account/login" title="Click to log in">MY ACCOUNT</a>
    </div>
</header>