<h1 class="main__title">Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="hero">
    <img src="/images/vehicles/delorean.jpg" alt="hero image" class="hero__image">
    <div class="hero__text-box">
        <p><b>DMC Delorean</b></p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dicel</p>
        <img src="/images/site/own_today.png" alt="">
    </div>
</div>
<section class="delorean-info">
    <!-- features -->
    <section class="delorean-info__features">
        <h2>Delorean Upgrades</h2>
        <div class="features-grid">
            <div class="features-grid__item">
                <img src="/images/upgrades/flux-cap.png" alt="" class="features-grid__image">
                <a href="#" class="features-grid__link">Flux Capacitor</a>
            </div>
            <div class="features-grid__item">
                <img src="/images/upgrades/flame.jpg" alt="" class="features-grid__image">
                <a href="#" class="features-grid__link">Flame Decals</a>
            </div>
            <div class="features-grid__item">
                <img src="/images/upgrades/bumper_sticker.jpg" alt="" class="features-grid__image">
                <a href="#" class="features-grid__link">Bumper Stickers</a>
            </div>
            <div class="features-grid__item">
                <img src="/images/upgrades/hub-cap.jpg" alt="" class="features-grid__image">
                <a href="#" class="features-grid__link">Hub Caps</a>
            </div>
        </div>
    </section>
    <!-- reviews -->
        <section class="delorean-info__reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul class="reviews-list">
            <li class="reviews-list__item">"So fast it's almost like traveling in time." (4/5)</li>
            <li class="reviews-list__item">"Coolest ride on the road." (4/5)</li>
            <li class="reviews-list__item">"I'm feeling McFly!" (5/5)</li>
            <li class="reviews-list__item">"The most futuristic ride of our day." (4.5/5)</li>
            <li class="reviews-list__item">"80's living and I love it!" (5/5)</li>
        </ul>
        </section>
</section>
